################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Autocomplete Feature/SearchQuery.API/.vs/SearchQuery.API
/Autocomplete Feature/SearchQuery.API/obj
