<div class="container mt-3">
    <form  [formGroup]="personFormGroup" #f="ngForm" (ngSubmit) = "handleSubmission(f)">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" name="fname" formControlName="fname" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="fname">Last Name</label>
            <input type="text" name="fname" formControlName="lname" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="fname">Email</label>
            <input type="text" name="fname" formControlName="email" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary float-right" >Submit</button>
    </form>

</div>