<div class="container mt-3">
    <form>
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" name="fname" [formControl]="fnameControl" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="fname">Last Name</label>
            <input type="text" name="fname" [formControl]="lnameControl" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="fname">Email</label>
            <input type="text" name="fname" [formControl]="emailControl" class="form-control"/>
        </div>
    </form>

</div>